body{
  background: linear-gradient(to right,#bb9457,#ffe6a7);
}
.textarea{
  background-color: #e7ebef;
  padding: 10px;
  margin: auto;
  border:2px solid transparent;
  border-radius: 10px;
  width: 30%;

}
.searchbutton{
padding: 10px;
font-size: 15px;
border:2px solid transparent;
border-radius: 30px;
cursor: pointer;
}
.heading{
  color: #6f1d1b;
}